In [3]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.23.0'

In [4]:
np.__version__

'1.14.3'

In [6]:
pd.show_versions() #this will show pandas as well as all its depenencies versions

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 42 Stepping 7, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.0
pytest: 3.5.1
pip: 10.0.1
setuptools: 39.1.0
Cython: 0.28.2
numpy: 1.14.3
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.4.0
sphinx: 1.7.4
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.4
blosc: None
bottleneck: 1.2.1
tables: 3.4.3
numexpr: 2.6.5
feather: None
matplotlib: 2.2.2
openpyxl: 2.5.3
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.0.4
lxml: 4.2.1
bs4: 4.6.0
html5lib: 1.0.1
sqlalchemy: 1.2.7
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [7]:
# put a ? after a method name (and shift+Enter) to read the docstring
pd.read_csv?

In [8]:
oo = pd.read_csv('data/olympics.csv',skiprows=4)

In [15]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [20]:
#dataframe is like a 2D array
oo.iloc[0]['City']

'Athens'

## Series is a one dimensinal array of indexed data
* pandas supports both integer and label based indexing
* in the above dataframe, the very first column is called the index (the one with 0,1,2,3..). The rest of each of the columns correspond to a pandas Series (like the City column, Edition columns...and so on

- You can access the Series using either the single-quote or double-quote with series label inside. You can also use the dot notation as the Series label can be used as an attribute (NOTE: the dot notation will NOT WORK if there is a space in the Series label)

In [22]:
oo['City'].head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [23]:
oo["City"].head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [24]:
oo.City.head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [29]:
# If I want to access a couple of columns, or a couple of Series, I can do oo, and include the Series names in a list.
oo[['City','Athlete']].head()

     City             Athlete
0  Athens       HAJOS, Alfred
1  Athens    HERSCHMANN, Otto
2  Athens   DRIVAS, Dimitrios
3  Athens  MALOKINIS, Ioannis
4  Athens  CHASAPIS, Spiridon

- Now, it's very important that you understand which object you're working with.
- So, we know that oo is the dataframe, but let's confirm that by looking at the type command.
- We know that the oo.City is a Series, and we can confirm that using type.
- What might have not been so obvious is that if we use a couple of Series, such as City, Edition, and Athlete, this type is also a dataframe.
- Note: if we pass the Series name as a list, we will always get a dataframe, even if the list contains only one name.. oo[['City']] will return a dataframe type. oo['City'] will return a Series type

In [32]:
print(type(oo))

<class 'pandas.core.frame.DataFrame'>

In [33]:
print(type(oo['City']))

<class 'pandas.core.series.Series'>

In [34]:
print(type(oo[['City','Athlete','Edition']]))

<class 'pandas.core.frame.DataFrame'>

- List Olympics data frame 
- list only the NOC column, that's the countries the athletes represent using both the square bracket notation and the dot notation. What type is this object?
- list the edition, the city, the athlete's name and the medal columns. What type is this object?

In [35]:
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [36]:
oo.NOC.head()

0    HUN
1    AUT
2    GRE
3    GRE
4    GRE
Name: NOC, dtype: object

In [37]:
oo['NOC'].head()

0    HUN
1    AUT
2    GRE
3    GRE
4    GRE
Name: NOC, dtype: object

In [38]:
type(oo['NOC'])

pandas.core.series.Series

In [40]:
oo[['Edition','City','Athlete','Medal']].head()

   Edition    City             Athlete   Medal
0     1896  Athens       HAJOS, Alfred    Gold
1     1896  Athens    HERSCHMANN, Otto  Silver
2     1896  Athens   DRIVAS, Dimitrios  Bronze
3     1896  Athens  MALOKINIS, Ioannis    Gold
4     1896  Athens  CHASAPIS, Spiridon  Silver

In [41]:
type(oo[['Edition','City','Athlete','Medal']])

pandas.core.frame.DataFrame